{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "class-methods-use-this": "off",
    "react/button-has-type": "off"
  },
  "env": {
    "browser": true,
    "node": true
  }
}
