$bg_level1: #0d1014;
$bg_level2: #161a22;
$bg_level3: #edf0f6;
$bg_level3_light: rgba(237, 240, 246, 0.1);
$bg_level3_lighter: rgba(237, 240, 246, 0.05);
$blue: #1a6edb;
$dark_blue: #14518f;
$light_blue: #007ced;
$gold: #a67f47;
$dark_gold: #8d6c3c;
$light_gold: #d7ad73;
$red: #ff3a3a;
$green: #31c46d;
$text_level0: #ffffff;
$text_level1: #c2c2c2;
$text_level2: #666666;
$text_level3: #666666;

$content_height: calc(100vh - 104px);
