
:global {
  .ant-form {
    input:not([type=range]) {
      max-width: 50%;
    }
  }

  .ant-spin-container {
    .ant-table {
      max-width: 100%;
    }
  }

  .li {
    input:not([type=range]) {
      width: 100px
    }
  }

  .container {
    padding:5px
  }

  .ant-card-body {
    padding:5px
  }

  .ant-divider-horizontal {
    margin:10px 0
  }

  .ant-card-head-title {
    padding: 10px 0;
  }

  .ant-layout {
    font-size: small;
  }
}



.destColumns {
  max-width: 85%;
  margin-left:auto;
  margin-right:auto;
}

.timeColumn {
  max-width: 85%;
  margin-left:auto;
  margin-right:auto;
}

.otherParams {
  max-width: 85%;
  margin-left:auto;
  margin-right:auto;
}

.get-kafka-message {
  max-width: 75%;
  margin-left:auto;
  margin-right:auto;
}

.parse-column {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding-bottom: 15px;

      .parse-group {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        em {
          font-style: normal;
        }

        span {
          width: 25%;
          text-align: left;
          word-break: break-all;
          padding: 0 5px;
        }       
      }
      .blankParse {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        em {
          font-style: normal;
        }

        span {
          width: 25%;
          text-align: left;
          word-break: break-all;
          padding: 0 5px;
        }       
      }
    }
  }

  .parse-section {
    margin: 15px;
    border: 1px #030303 solid;
    padding: 15px;
    box-sizing: border-box;
    overflow: visible;
    
    
    .ant-card {
      top: 0px;
      z-index: 2;
      position: sticky;
    }
  }
}

.parse-column > .parse-section {
  margin: 0;
  border: none;
  padding: 0;
}
